In [2]:
import tristats
import pandas as pd

### Women's results

In [30]:
# Read in split data for women's race
women_splits = pd.read_csv("mts_data/2025-mts-splits-women.csv", na_values="NA")

# Read in team data for women's race
women_teams = pd.read_csv("mts_data/2025-mts-teams-women.csv", na_values="NA")

# Merge team and split data, then drop duplicate/useless columns
womens = pd.merge(women_teams, women_splits, on=["Bib No", "Name"])
womens.drop(columns=["Overall", "Bib No", "Time", "Penalty_x", "Penalty_y"], inplace=True)

# Index by overall place
womens.set_index("Place", inplace=True)

# Display UCLA results
womens.loc[womens["School Team"] == "UCLA"]

,Name,School Team,SwimRank,Swim,T1,BikeRank,Bike,T2,RunRnk,Run,Total
Place,,,,,,,,,,,
10,Aliyah Anderson,UCLA,45,00:14:49,00:56.4,21.0,01:22:16,00:50.7,8,00:40:34,02:19:27
20,Eleanor Casey,UCLA,3,00:11:38,01:16.8,30.0,01:26:08,00:45.6,17,00:42:42,02:22:30
22,Cadence Chang,UCLA,8,00:12:51,01:29.9,39.0,01:28:13,00:34.7,11,00:41:23,02:24:31
31,Lily Aronovitz,UCLA,94,01:43:34,NaN,36.0,01:27:50,NaN,45,00:46:29,02:29:18
46,Mia McKiernan,UCLA,37,00:14:17,01:31.7,55.0,01:31:09,00:50.4,56,00:48:16,02:36:05
53,Alison Arndt,UCLA,66,00:16:57,01:32.0,63.0,01:32:50,00:48.7,44,00:46:26,02:38:33
70,Reena Choi,UCLA,68,00:17:17,01:59.2,68.0,01:34:12,00:58.3,71,00:52:22,02:46:49
71,Jolie Rice,UCLA,40,00:14:25,02:27.8,72.0,01:37:09,00:23.0,72,00:52:27,02:46:53
91,Triniti Santos,UCLA,54,00:15:41,02:41.1,96.0,02:02:26,01:22.1,93,01:05:16,03:27:27

### Men's results

In [24]:
# Read in split data for men's race
mens_splits = pd.read_csv("mts_data/2025-mts-splits-men.csv", na_values="NA")

# Read in team data for men's race
mens_teams = pd.read_csv("mts_data/2025-mts-teams-men.csv", na_values="NA")

# Merge team and split data, then drop duplicate/useless columns
mens = pd.merge(mens_teams, mens_splits, on=["Bib No", "Name"])
mens.drop(columns=["Overall", "Bib No", "Time", "Penalty_x", "Penalty_y"], inplace=True)

# Index by overall place
mens.set_index("Place", inplace=True)

# Display UCLA results
mens.loc[mens["School Team"] == "UCLA"]

,Name,School Team,SwimRank,Swim,T1,BikeRank,Bike,T2,RunRnk,Run,Total
Place,,,,,,,,,,,
1,Edoardo Giuseppe Leone,UCLA,3,10:43.5,00:56.1,3.0,01:01:32,00:31.3,2,00:30:53,01:44:36
19,Emiliano Olivo Cauberghs,UCLA,139,23:21.1,NaN,33.0,01:10:12,NaN,26,00:36:51,01:59:41
66,Jacob Niyazov,UCLA,107,18:15.6,02:00.0,72.0,01:18:10,00:53.5,39,00:38:16,02:17:36
83,Lachlan Guo,UCLA,43,13:55.4,01:10.9,110.0,01:24:58,00:40.5,92,00:44:37,02:25:22
120,Austin Liu,UCLA,94,17:38.2,01:16.6,86.0,01:20:31,01:28.2,137,00:54:06,02:34:59
138,Lucas Angier,UCLA,83,16:31.9,01:34.6,145.0,01:34:57,00:30.3,132,00:51:14,02:44:48
140,Waleed Alzarooni,UCLA,126,20:34.1,02:09.4,124.0,01:29:10,01:09.4,140,00:54:47,02:47:51